@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
}

@layer base {
  * {
    @apply border-neutral-200/70;
  }
  body {
    @apply bg-white text-neutral-900 dark:bg-neutral-950 dark:text-neutral-100;
  }
}

:root {
  --rb-accent: oklch(20.5% 0 0);
  --rb-accent-fg: oklch(100% 0 0);
    --rb-radius: 10px;
    --rb-r-xs: max(0px, calc(var(--rb-radius) - 6px));
    --rb-r-sm: max(0px, calc(var(--rb-radius) - 4px));
    --rb-r-md: max(0px, calc(var(--rb-radius) - 2px));
    --rb-r-lg: var(--rb-radius);
    --rb-r-xl: calc(var(--rb-radius) + min(2px, var(--rb-radius)));
    --rb-r-2xl: calc(var(--rb-radius) + min(4px, var(--rb-radius)));
    --rb-r-3xl: calc(var(--rb-radius) + min(6px, var(--rb-radius)));
    --rb-r-4xl: calc(var(--rb-radius) + min(8px, var(--rb-radius)));
}

.dark {
  --rb-accent: oklch(100% 0 0);
  --rb-accent-fg: oklch(20.5% 0 0);
}

@theme inline {
  --color-rb-accent: var(----rb-accent);
  --color-rb-accent-fg: var(----rb-accent-fg);
}